$primary-color: #FFEC8B;
$submit-btn-bg-color: black;
$submit-btn-color:  white;

body, html {
    margin: 0;
}

body {
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    //display: none;
}

.cta {
    text-decoration: none;
}

.patch {
    position: absolute;
    bottom: 400px;
    left: 80px;
}

.loginUser {
    margin-bottom: -160px;
   
}

.playGameLink {
    max-width: 200px;
    text-decoration: none;
    background-color: #004A7F;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  border: none;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: Arial;
  font-size: 10px;
  padding: 2px 2px;
  text-align: center;
  text-decoration: none;
  -webkit-animation: glowing 1500ms infinite;
  -moz-animation: glowing 1500ms infinite;
  -o-animation: glowing 1500ms infinite;
  animation: glowing 1500ms infinite;
}
@-webkit-keyframes glowing {
  0% { background-color: #B20000; -webkit-box-shadow: 0 0 3px #B20000; }
  50% { background-color: #FF0000; -webkit-box-shadow: 0 0 40px #FF0000; }
  100% { background-color: #B20000; -webkit-box-shadow: 0 0 3px #B20000; }
}

@-moz-keyframes glowing {
  0% { background-color: #B20000; -moz-box-shadow: 0 0 3px #B20000; }
  50% { background-color: #FF0000; -moz-box-shadow: 0 0 40px #FF0000; }
  100% { background-color: #B20000; -moz-box-shadow: 0 0 3px #B20000; }
}

@-o-keyframes glowing {
  0% { background-color: #B20000; box-shadow: 0 0 3px #B20000; }
  50% { background-color: #FF0000; box-shadow: 0 0 40px #FF0000; }
  100% { background-color: #B20000; box-shadow: 0 0 3px #B20000; }
}

@keyframes glowing {
  0% { background-color: #B20000; box-shadow: 0 0 3px #B20000; }
  50% { background-color: #FF0000; box-shadow: 0 0 40px #FF0000; }
  100% { background-color: #B20000; box-shadow: 0 0 3px #B20000; }
}

header {
    position: absolute;
    padding: 1em;
    z-index: 20;
    display: flex;
    justify-content: space-between;
    width: calc(100% - 2em);
    background: white;

  

    a {
        text-decoration: none;
        color: black;

    }
        a.logo {
            font-weight: bold;
            text-transform: uppercase;
    }
        nav ul {
            list-style-type: none;
            display: flex;
            justify-content: space-around;
            width: 100%;
            margin: 0;
            padding: 0;
            
            li a {
                padding: 1em;
            }
        }
    }

    .wrapper {
        display: grid;
        grid-template-columns: auto;

        section {
            padding: 3em;
       
            h1, h2, .read-btn {
                text-transform: uppercase;
                margin: 0;
            }

            h2 {
                font-size: 1.4rem;
            }

            .read-btn {
                text-decoration: none;
                color: black;
                font-weight: bold;
                //background: url(arrow) picture
                background-size: 8px;
                background-position: 0 1px;
                padding-left: 1em;
            }

            .primary {
                padding: 1.5em 1.5em 1.5em calc(3em + 25px);
                background-position: 3em;
                display: inline-block;
                margin-top: 3em;
                margin-left: -3em;
                color: red;

            }

            .clipper {
                overflow: hidden;
            }
        }

       

        section.hero {
            padding-top: 4em;
            background-image: url(images/astroids.jpg);
            background-size: cover;
            color: whitesmoke;

            p {
                width: 70%;
                font-size: 1.2rem;
                margin-bottom: 0;
            }

            h1 {
                font-size: 2.4rem;
            }
        }

        section.sidebar, section.subscribe {
            font-size: .9rem;
            line-height: 1.6em;
        }
        
        section.sidebar {
            background: $primary-color;

            .read-btn {
                margin-top: 2em;
                display: block;
                background-position: 0 .2em;
            }
        }

        section.subscribe {

            background-color: rgb(218, 127, 24);
            
            a {
                color: white;
            }

            input {
                width: calc(100% - 2em);
                padding: 1em;
                font-family: 'Montserrat';
                margin-bottom: 1em;
            }

            button {
                width: 100%;
                background: $submit-btn-bg-color;
                color: $submit-btn-color;
                padding: 1em;
                border: none;
                font-family: 'Montserrat';
            }
        }
    }

    @media only screen and (max-width: 840px) {

       
        .playGameLink {
            position: absolute;
            bottom: 10px;
            right: 60px;
        }

        .loginUser {
            position: absolute;
            bottom: 160px;
            align-content: auto;
            
        }
    }

  
    @media only screen and (min-width: 640px) {
        html {
            font-size: 18px;
        }
    }
      
    @media only screen and (min-width: 840px) {
        header {
            background: none;
        }

        .wrapper {
            grid-template-columns: 70% auto;
            grid-template-rows: 60% auto;
            grid-template-areas: 
                "hero featured"
                "hero subscribe";
            height: 100vh;
        } 

        section.hero {
            grid-area: hero;
        }

        section {
            display: grid;
            grid-template-rows: auto;
            align-items: center;
        }
    }

    @media only screen and (min-width: 1800px) {
        html {
            font-size: 21px;
        }
    }